@import '../../PreDefined.scss';
.Product_Add{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 40%;

        div{
            width: 100%;
            input{
                border-radius: 10px;
                width: 100%;
                border: 0;
                padding:0.5rem 1rem;
                transition: 1s ease;
                box-shadow: 0 0 5px 1px rgba(165, 165, 165, 0.626);
            }
            .ImageUpload::-webkit-file-upload-button{
                display: none;
            }
            .ImageUpload{
                color:transparent;
            }
        }
        
        button{
            width: 100%;
            text-align: center;
            background-color: #000000;
            font-weight: 800;
            color: #ffff;
            padding:0.2rem 0.5rem;
            transition: 1s ease;
            border-radius: 10px;
            border: 0;
            box-shadow: 0 0 5px 1px rgba(165, 165, 165, 0.626);
        }
        button:hover{
            box-shadow: 0 -2px 5px 1px #FF00FF,
            0 2px 5px 2px#099FFF;
            background-color: $white;
            color:rgb(0, 0, 0)
        }
    }
}