$darkMain:rgb(24, 24, 24);
$darkLight:rgb(42, 42, 42);
$darkDash:rgb(49, 47, 47);
$darkDashOpacity:rgba(49, 47, 47, 0.5);
$white:#ffffff;
$neonPink:#FF00FF;
$neonBlue:#099FFF;
$dimLight:rgba(222, 222, 222, 0.626);